
<section>
    <h2>Por favor ingrese un producto</h2>
 <form id="form" >

        <div class="mb-3">        
            <label class='form-label fw-bold' for='name'>Nombre</label>
             <input class="form-control" type="text" id="title" name="title" placeholder="title">
        </div>

        <div class="mb-3">
            <label class='form-label fw-bold' for='price'>Precio</label>
            <input class="form-control" type="number" id="price" name="price" placeholder="price">
        </div>
   
        <div class="mb-3">
            <label class='form-label fw-bold' for='thumbnail'>Foto URL</label>
            <input class="form-control" type="text" id="thumbnail" name="thumbnail" placeholder="thumbnail">
        </div>

        
        <button id="submit" class="btn btn-success" type="button">Cargar</button>

        <button class="btn btn-success" type="reset" >Limpiar</button>
    </form>
<hr>
</section>
<script src="../public/index.js"></script>

