
<section>
    <h2>Por favor ingrese un producto</h2>
 <form id="form" >

        <div class="mb-3">        
            <label class='form-label fw-bold' for='name'>Nombre</label>
             <input class="form-control" type="text" id="title" name="title" placeholder="title">
        </div>

        <div class="mb-3">
            <label class='form-label fw-bold' for='price'>Precio</label>
            <input class="form-control" type="number" id="price" name="price" placeholder="price">
        </div>
   
        <div class="mb-3">
            <label class='form-label fw-bold' for='thumbnail'>Foto URL</label>
            <input class="form-control" type="text" id="thumbnail" name="thumbnail" placeholder="thumbnail">
        </div>

        
        <button id="submit" class="btn btn-success" type="button">Cargar</button>

        <button class="btn btn-success" type="reset" >Limpiar</button>
    </form>
    <hr>
<div class='container mt-5'>
    <div class='row'>
        <div class='col'>
            <table class='table'>
                <thead class='table'>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto URL</th>
                </thead>
                <tbody id="lista">
                    {{!-- {{#each lista}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.price}}</td>
                        <td>AR${{this.thumbnail}}</td>
                    </tr>
                    {{/each}} --}}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div id="chat">
        
        <div class="mb-3">        
            <label class='form-label fw-bold' for='name'>email</label>
             <input class="form-control" type="email" id="email" name="email" placeholder="email">
        </div>

   
        <div class="mb-3">
            <label class='form-label fw-bold' for='message'>Foto URL</label>
            <input class="form-control" type="text" id="message" name="message" placeholder="message">
        </div>

        
        <button id="buttonMessage" class="btn btn-success" type="button">Enviar</button>
    </div>
    <div id="viewchat" ></div>
</section>

<script src="/index.js"></script>

