
<section>
    <h2>Por favor ingrese un producto</h2>
 <form id="form" >

        <div class="mb-3">        
            <label class='form-label fw-bold' for='name'>Nombre</label>
             <input class="form-control" type="text" id="title" name="title" placeholder="title">
        </div>

        <div class="mb-3">
            <label class='form-label fw-bold' for='price'>Precio</label>
            <input class="form-control" type="number" id="price" name="price" placeholder="price">
        </div>
   
        <div class="mb-3">
            <label class='form-label fw-bold' for='thumbnail'>Foto URL</label>
            <input class="form-control" type="text" id="thumbnail" name="thumbnail" placeholder="thumbnail">
        </div>

        
        <button id="submit" class="btn btn-success" type="button">Cargar</button>

        <button class="btn btn-success" type="reset" >Limpiar</button>
    </form>
    <hr>
<div class='container mt-5'>
    <div class='row'>
        <div class='col'>
            <table class='table'>
                <thead class='table'>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto URL</th>
                </thead>
                <tbody id="lista">
                    {{!-- {{#each lista}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.price}}</td>
                        <td>AR${{this.thumbnail}}</td>
                    </tr>
                    {{/each}} --}}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div id="chat">
        
<form action="chat" method="post" id="myChat">
  <div class="mb-3">

    <input
      type="email"
      class="form-control w-25"
      id="id"
      placeholder="Email del usuario"
      required=""
    />

    <input
      type="text"
      class="form-control w-25"
      id="name"
      placeholder="Nombre del usuario"
      required=""
    />

    <input
      type="text"
      class="form-control w-25"
      id="lastname"
      placeholder="Apellido del usuario"
    />

    <input
      type="number"
      class="form-control w-25"
      id="age"
      placeholder="Edad del usuario"
    />

    <input
      type="text"
      class="form-control w-25"
      id="alias"
      placeholder="Alias del usuario"
    />

    <input
      type="text"
      class="form-control w-25"
      id="avatar"
      placeholder="URL del avatar del usuario"
      required=""
    />

  </div>

  <input
    type="text"
    class="form-control w-25 d-inline"
    id="text"
    placeholder="Escriba el mensaje que desea enviar"
  />

  <button id="buttonMessage" class="btn btn-success" type="button">Enviar</button>
</form>
<hr />
  <div id="viewchat" ></div>
</section>

<script src="/index.js"></script>

