<section>
    <h2>Por favor ingrese un producto</h2>
 <form id="form" action="/productos">
        <input type="text" id="title" name="title" placeholder="title">

        <input type="number" id="price" name="price" placeholder="Price">

        <input type="text" id="thumbnail" name="thumbnail" placeholder="thumbnail">
            
        <button type="submit" id="cargar-integrantes">Cargar</button>

        <button type="reset" id="resetear">Limpiar</button>
    </form>
    <div>
        <a href="./listaproductos">
            <button class="btn btn-warning">Ver Productos</button>
        </a>
    </div>
</section>